<section class="container">
  <h2 class="pt-5">Log in</h2>


  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "w-100 my-3 p-3" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "w-100 my- p-3" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field my-3">
        <%= f.check_box :remember_me, class: "my-1" %>
        <%= f.label :remember_me, class: "my-1" %>
      </div>
    <% end %>

    <div class="actions ">
      <%= f.submit "Log in", class: "w-100 p-3 mb-3" %>
    </div>
  <% end %>

  <%= render "devise/shared/links", class: "p-3" %>
</section>